doctype html
html
  head
    - var title = "Admin Dashboard"
    include ../includes/head.pug
    
    link(href = "/dist/css/admin.css" rel = "stylesheet" type = "text/css")
    block styles 
  body
    .inverted
      nav.level
        .level-left
          p.level-item
            a.is-serif(href = "/admin")= config.title
              | &nbsp;| <span>Admin</span>
        .level-right 
          p.level-item
            a(href = "/admin/review") Review Documents 
          p.level-item
            a(href = "/admin/collections") Manage Collections
          p.level-item
            a(href = "/admin/settings") Settings
          p.level-item
            a(href = "/admin/logout") Logout

    #body
      block body
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
    block scripts 
