nav.level
  //Left Side
  .level-left
    p.level-item TranscribePA 
  //Right side 
  .level-right 
    p.level-item
      a About 
    p.level-item
      a Transcribe 
    p.level-item
      a Verify
    p.level-item
      a Browse
