nav.level
  //Left Side
  .level-left
    p.level-item TranscribePA 
  //Right side 
  .level-right 
    p.level-item
      a(href = "/about") About 
    p.level-item
      a(href = "/transcribe") Transcribe 
    p.level-item
      a(href = "/verify") Verify
    p.level-item
      a(href = "/browse") Browse
