doctype html
html
  head
    - var title = "TranscribePA" //TODO: make this configurable
    include includes/head.pug
  body
    include includes/nav.pug
    
    form(action = "/admin/new-document" method = "post" enctype = "multipart/form-data")
      input(type = "file" name = "image")
      input(type = "submit" value = "SUBMIT")
        
    form(action = "/admin/new-collection" method = "post" enctype = "multipart/form-data")
      input(type = "file" name = "zip")
      input(type = "submit" value = "SUBMIT")
    
    include includes/footer.pug
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
