doctype html
html
  head
    - var title = "TranscribePA" //TODO: make this configurable
    include includes/head.pug
  body
    include includes/nav.pug
    
    ul 
      each document in documents:
        li= document 
    
    include includes/footer.pug
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
