!!! 
html
  head
    - var title = "TranscribePA" //TODO: make this configurable
    include head.pug
  body
    include includes/footer.pug
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
