doctype html
html
  head
    - var title = "Home" 
    include includes/head.pug
  body
    include includes/nav.pug
    include includes/footer.pug
    
    p= config.title
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
