doctype html
html
  head
    include includes/head.pug
    
    link(href = "/dist/CSS/static.css" rel = "stylesheet" type = "text/css")
  body
    #container
      .inverted
        include includes/nav.pug

      #body 
        != md(markdown)
      
    include includes/footer.pug
    
    script(src = "/bower_components/jquery/dist/jquery.min.js")
