nav{
  padding: 15px 20px;
  width: 100vw;
  z-index: 100;

  a{
    color: $black;
    &:hover{
      color: $blue;
    }
  }

  .level-left{
    font-weight: bold;
    font-size: 1.2rem;
  }

}

nav.level{
  margin: 0 !important;
}
