// Fonts
@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/montserrat/Montserrat-Bold.ttf");
}

// Colors
$black: #24252a;
$blue: #3a539b;
$light-blue: #446cb3;
$white: #e4f1fe;
$gray: #f1f1f1;
$green: #3fc380;
$red: #d24d57;

// Text Styling
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
}

h1{
  font-size: 2.75rem;
  margin-bottom: 5px;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p, li, span, label, textarea, a{
  font-family: "Source Sans";
}

strong{
  font-weight: bold;
}

.button.is-info{
  background-color: $blue;
  transition: 0.2s all;

  &:hover{
    background-color: $light-blue;
  }
}

a{
  color: $blue;
  &:hover{
    color: $light-blue;
  }
}

.is-green, .is-red{
  border: none;
  color: white;
  &:hover{
    color: #eee;
  }
}

.is-green{
  background: $green;
}

.is-red{
  background: $red;
}

.is-serif{
  font-family: georgia;
  font-weight: bold;
}

// Structure
html, body{
  height: 100%;
  margin: 0;
}

#container{
  min-height: 100%;
  margin-bottom: -175px;
  padding-bottom: 175px;
}
