@import "reset";
@import "theme";
@import "nav";

#body{
  padding: 25px 40px;
}

#collections{
  padding: 15px 40px;

  .column{
    .img{
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
    }
  }
}
