@import "reset";
@import "theme";
@import "nav";

nav{
  background-color: $black;

  a{
    color: white;
    &:hover{
      color: $white;
    }
  }
}

#ui{
  margin-top: 0px;

  #sidebar{
    background-color: #e4e9ed;
    padding: 20px 30px;
  }

  #body{
    padding: 20px 30px;
    box-sizing: border-box;
  }
}

#collections{
  padding: 15px 40px;

  .column{
    .img{
      width: 250px;
      height: 250px;
      background-position: center;
      background-size: cover;
    }
  }
}
