@import "reset";
@import "theme";
@import "nav";
@import "header";

#body{
  width: 95vw;
  margin: 0 auto;
  padding-top: 40px;
}
//
header{
  background-color: $black;
  color: white;
  a{
    color: white;
    font-weight: bold;
    &:hover{
      color: $white;
    }
  }
}

nav{
  a{
    color: white;
    &:hover{
      color: $white;
    }
  }
}

#browse{
  margin: 0 auto;

  .item{
    margin-bottom: 20px;

    img{
      width: 250px;
    }
  }

  .level{
    width: 95vw;
  }
}
