@import "reset";
@import "theme";
@import "nav";
@import "header";
@import "footer";

#body{
  padding: 40px 20px;
}

header{
  background-color: $black;
  color: white;
  a{
    color: white;
    font-weight: bold;
    &:hover{
      color: $white;
    }
  }
}

nav{
  position: absolute;
  top: 0;
  left: 0;

  a{
    color: white;
    &:hover{
      color: $white;
    }
  }
}

#browse{
  margin: 0 auto;

  .item{
    margin-bottom: 20px;

    img{
      width: 250px;
    }

    p{
      margin-top: 5px;
    }
  }

  .level{
    width: 95vw;
  }
}

.current{
  color: $light-blue;
  font-weight: bold;
  border-color: $light-blue;
}
