@import "reset";
@import "theme";
@import "nav";
@import "header";

#body{
  width: 90vw;
  margin: 0 auto;
}

#browse{
  margin: 0 auto;

  .item{
    margin-bottom: 20px;

    img{
      width: 250px;
    }
  }

  .level{
    width: 90vw;
  }
}
