@import "reset";
@import "theme";
@import "nav";
@import "footer";

// nav{
//   background-color: $black;
//
//   a{
//     color: white;
//     &:hover{
//       color: $white;
//     }
//   }
// }

#body{
  height: calc(100vh - 49px);
  padding-top: 20px;
  padding-bottom: 56px;
  display: flex;
  flex-flow: column;

  #editor{
    flex: 2;

    img{
      max-height: 100%;
    }

    #text-editor{
      display: flex;
      flex-flow: column;

      #text{
        flex: 2;
        overflow-y: scroll;
        border: 2px solid $gray;
        padding: 10px;
        resize: none;

        &:focus{
          outline: 0;
        }
      }

      .languages{
        margin-top: 10px;
      }
    }
  }

  #filter{
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
