@import "reset";
@import "theme";
@import "nav";
@import "footer";

.no-documents{
  text-align: center;
  top: calc(50vh - 175px + 49px);
  position: relative;
  padding: 0 20px;
}

#body{
  height: calc(100vh - 49px);
  padding-top: 25px;
  padding-bottom: 56px;
  display: flex;
  flex-flow: column;

  #editor{
    flex: 2;

    img{
      max-height: 100%;
    }

    #text-editor{
      display: flex;
      flex-flow: column;

      #text{
        flex: 2;
        overflow-y: scroll;
        overflow-x: scroll;
        white-space: nowrap;
        border: 2px solid $gray;
        padding: 10px;
        resize: none;

        &:focus{
          outline: 0;
        }
      }

      .languages{
        margin-top: 10px;
      }
    }
  }

  #filter{
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
